@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;900&family=Raleway:wght@100;500&display=swap");

* {
    margin: 0px;
    padding: 0px;
}
body {
    background: #222222;
    display: flex;
    line-height: 4rem;
    flex-wrap: wrap;
    overflow-x: hidden;
}
div {
    font-size: 5rem;
    font-family: Raleway;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
